@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'Montserrat', sans-serif;
}

.swal2-backdrop-show {
  z-index: 999999 !important;
}

.MuiChartsAxis-tick text:empty {
  display: none !important;
}

.no-hover:hover {
  background-color: #f0f0f0 !important;
  color: #212121 !important;
}

.MuiFormLabel-root.MuiInputLabel-root.Mui-error {
  color: #CE1126 !important;
}

/* input {
  background-color: transparent !important;
  color: inherit;
} */

.custom-select__control {
  font-size: 0.875rem;
  padding: 2px;
  background-color: #F6BA12 !important;
  color: inherit;
  cursor: default;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}

.custom-select__option {
  background-color: #F6BA12;
  color: #000000;
  cursor: pointer;
}

.custom-select__option--is-selected {
  background-color: #0038A8 !important;
  color: #ffffff !important;
}

.custom-select__option--is-focused {
  background-color: #FDE68A !important;
}

.custom-select__menu {
  background-color: #F6BA12 !important;
  max-height: 400px;
  overflow-y: auto;
}

.custom-select__dropdown-indicator {
  color: #000000 !important;
  padding: 4px;
}

.custom-select__indicator-separator {
  display: none !important;
}

.custom-select__menu-portal {
  z-index: 100 !important;
}

.sidebar-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.sidebar-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(200, 200, 200, 0.4); 
  border-radius: 10px;
}

.sidebar-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(200, 200, 200, 0.7);
}

.sidebar-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(200, 200, 200, 0.4) transparent;
}

.sidebar-scrollbar:hover {
  scrollbar-color: rgba(200, 200, 200, 0.7) transparent;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

.react-select-multi-select {
  background-color: transparent !important;
  border-radius: 0.5rem !important;
  border: none !important;        
  font-size: 14px !important;      
  padding: 0px !important;
  color: #2F2F2F !important;
}

.react-select-multi-select__option {
  background-color: transparent !important; 
}

.react-select-multi-select__option--is-selected {
  background-color: #0038A8 !important;      
  color: white !important;
}









