@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'Montserrat', sans-serif;
}

.swal2-backdrop-show {
  z-index: 999999 !important;
}

.MuiChartsAxis-tick text:empty {
  display: none !important;
}

.no-hover:hover {
  background-color: #f0f0f0 !important;
  color: #212121 !important;
}

.MuiFormLabel-root.MuiInputLabel-root.Mui-error {
  color: #CE1126 !important;
}

input, select {
  /* border-radius: 0.4rem !important;   */
  background-color: transparent !important; 
  color: inherit;                         
}

select option:disabled {
  color: #9CA3AF !important; /* Tailwind's text-gray-400 */
}

/* Target react-select control for transparency */
.react-select__control {
  background-color: transparent !important;  /* Transparent background */
  border-radius: 0.4rem !important;          /* Rounded corners */
  border: 1px solid rgba(0, 0, 0, 0.23) !important;      /* Set border color */
}

/* Error state for react-select */
.react-select__control--is-invalid {
  font-size: 12px !important;             /* Font size for error message */
}

/* Adjust dropdown option styles */
.react-select__option {
  background-color: transparent !important;  /* Transparent background for options */
}

.react-select__option--is-selected {
  background-color: #0038A8 !important;      /* Highlight color when selected */
  color: white !important;
}

/* Target the multi-value label (the label of the selected items in multi-select) */
.react-select__multi-value__label {
  background-color: #0038A8 !important;  /* Transparent background */
  color: white !important;                 /* Inherit text color */
  border-radius: 0.4rem !important;          /* Rounded corners */
  font-size: 12px !important;
  padding: 1px 6px !important; /* Top/Bottom 10px, Left/Right 5px */
}

.react-select__multi-value {
  background-color: #0038A8 !important;      /* Highlight color when selected */
  color: white !important;
}

.react-select__control {
  padding: 0px !important;
}

.react-select-dashboard__control {
  background-color: #F6BA12 !important;
  border-radius: 0.5rem !important;
  border: none !important;         /* use 'none' to remove border */
  font-size: 14px !important;      /* specify units for font-size */
  padding: 0px !important;
  color: #2F2F2F !important;
}

.react-select-dashboard__option {
  background-color: transparent !important;  /* Transparent background for options */
  color: inherit !important;                  /* Inherit text color */
  border-bottom: 1px solid #0038A8;
  font-size: 14px !important;
}

.react-select-dashboard__option--is-selected {
  background-color: #0038A8 !important;      /* Highlight color when selected */
  color: white !important;
}
/* Hover state for options */
.react-select-dashboard__option:hover {
  background-color: #F6BA12 !important; /* Slightly darker blue on hover */
}

.react-select-dashboard__dropdown-indicator {
  color: #0038A8 !important;
}

.react-select-dashboard__placeholder {
  color: #2F2F2F !important;
}

/* Small thin scrollbar */
.sidebar-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.sidebar-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(200, 200, 200, 0.4); /* slightly darker */
  border-radius: 10px;
}

.sidebar-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(200, 200, 200, 0.7); /* more visible on hover */
}

/* Firefox */
.sidebar-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(200, 200, 200, 0.4) transparent;
}

.sidebar-scrollbar:hover {
  scrollbar-color: rgba(200, 200, 200, 0.7) transparent;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.react-select-multi-select {
  background-color: transparent !important;
  border-radius: 0.5rem !important;
  border: none !important;         /* use 'none' to remove border */
  font-size: 14px !important;      /* specify units for font-size */
  padding: 0px !important;
  color: #2F2F2F !important;
}

/* Adjust dropdown option styles */
.react-select-multi-select__option {
  background-color: transparent !important;  /* Transparent background for options */
}

.react-select-multi-select__option--is-selected {
  background-color: #0038A8 !important;      /* Highlight color when selected */
  color: white !important;
}









